{% extends 'layout.html' %}

{% block body %}
        <div class="img-fluid">
            <img src="RS.jpg" class="img-fluid" alt="Responsive image">
 <div class="jumbotron text-center", style="margin-bottom : 0px">
            <h2>Welcome to Phosphorylator</h2>
            <p class="lead">This application is built to explore the phosphorylation sites</p>
            <a href="phos_last" class="btn btn-primary btn-lg">(MOUSEUM) Are matched sites in the mouse protein known as phosphorylation sites?</a>
            <br></br>
            <a href="newdic" class="btn btn-success btn-lg">(PHOSPHOLOG) Can unmatched sites match near the phosphorylation sites?</a>
</div>
{% endblock %}