{% extends 'layout.html' %}

{% block body %}
 <div class="jumbotron text-center", style="margin-bottom : 0px">
    <h2>Are matched sites in the mouse protein known as phosphorylation sites?</h2>
    <p class="lead">Explore the sites of the mouse protein ,which matched with phosphorylation sites of the highest score human protein, are also known as phosphorylation site</p>
    <form method="POST">
    Mouse Protein ID: <input type="text" name="protein"><br>
    <input type="submit" value="Submit"><br>
    </form>   
  </div>
        <img src="3.jpg" class="img-fluid" alt="Responsive image">

{% endblock %}

